.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 10px;
  border: 3px solid darkblue;
  height: 400px;
  width: 500px;
  padding: 10px;

  &__input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgb(187, 187, 187);
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
  }

  &__btn {
    background-color: darkblue;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
  }
}
